html {
  height: 100%;
}

body {
  background-image: url(header-lace.png), url(footer-lace.png);
  background-position: 5% -10%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-color: #928779;
  color: #CFF8DD;
  margin: 0;
  min-height: 500px;
}

header {
  position: relative;
  overflow: hidden;
  height: 380px;
  margin-bottom: -80px;
}

.header-rose {
  position: absolute;
  background-image: url(header-rose.png);
  background-position: 110% 105%;
  background-repeat: no-repeat;
  height: 380px;
  width: 380px;
  top: 0;
  right: -50px;
}

nav {
  width: 100%;
  margin: 30px 0;
}

.nav-menu {
  display: flex;
  justify-content: center;
  background: #CFF8DD;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.nav-menu a {
  z-index: 1;
  list-style: none;
  text-decoration: none;
  font-family: 'Curely', 'Berkshire Swash', cursive;
  font-size: 1.75em;
  padding: 6px 30px;
  color: #5C544B;
}

.nav-menu a:hover {
  cursor: pointer;
  color: #CFF8DD;
  background: #928779;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.main-title {
  font-family: 'Curely', 'Berkshire Swash', cursive;
  font-size: 4.5em;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.main-title-span {
  vertical-align: middle;
  font-size: .5em;
  letter-spacing: .5px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.3);
  display: inline-block;
  padding: 0;
}

.main p {
  font-family: 'Playfair Display SC', serif;
  font-size: 1.5em;
  margin: 0;
  letter-spacing: .5px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.3);
  padding: 0;
}

h2 {
  font-family: 'Curely', 'Berkshire Swash', cursive;
  font-size: 1.75em;
  letter-spacing: 1.5px;
  margin-bottom: .5em;
  text-shadow: 2px 2px 2px rgba(0,0,0,.3);
  line-height: 20%;
}

footer {
  background-image: url(footer-rose.png);
  background-position: -10% 30%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 325px;
}

@font-face {
  font-family: 'Curely'
  src: url('Curely-Free-Typeface.otf');
}
